.headerContainer{
    background-color: black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.app-title{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
}

.favorite{
    color: #ffffff;
}

.link-head{
text-decoration: none;
color: none;
}